source .vimrc.keymap

nnoremap gd :action GotoDeclaration<CR>
nnoremap gb :action JumpToLastChange<CR>
nnoremap gr :action RenameElement<CR>
nnoremap gf :action ReformatCode<CR>
nnoremap gc :action CommentByLineComment<CR>
vnoremap gc :action CommentByBlockComment<CR>
